.question-info ul li {
    text-align: center;
}

.question-info ul li span {
    display: block;
}

.question-title h3 {
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.question-author {
    margin-top: 15px;
}